/cache/*
/log/*
/data/products.dev.index/*
/config/databases.yml
/lib/filter/doctrine/base/*
/lib/filter/doctrine/sfDoctrineGuardPlugin/base/*
/lib/form/doctrine/base/*
/lib/form/doctrine/sfDoctrineGuardPlugin/base/*
/lib/model/doctrine/base/*
symfony.bat
