body {
	padding: 10px 0px 0px 0px;
	background: #fafafa;
}
a {
	color: #0B486B;
	text-decoration: none;
}
a:hover {
	color: #1B8798;
}
.clear {
	margin: 10px;
}
#header {
	background: url('../images/menu-bg.png') repeat-x #f3f3f3;
	height: 32px;
	border: 1px #ababab solid;
	border-bottom: 2px #f38630 solid;
}
.container-utils {
	height: 125px;
}
#logo {
	padding: 32px 0px 0px 25px;
}
#menu-user {
	margin-top: 7px;
	float: left;
}
#menu-user a {
	color: #535353;
	padding: 4px;
	text-decoration: none;
}
#menu-user a:hover {
	background: #F38630;
	color: #E0E4CC;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#menu-user li {
	margin-left: 20px;
	display: inline;
}
#menu-social {
	margin-top: 4px;
	float: right;
}
#menu-social li {
	margin-left: 3px;
	display: inline;
}
#menu-social li:last-child {
	margin-right: 5px;
}
#twitter-bird {
	margin-top: 40px;
}
#user-img {
	margin: 40px 0px 0px 80px;
}
#testimonial-img {
	margin: 40px 0px 0px 80px;
}
.menu-nav-border {
	border-bottom: 1px #f38630 solid;
	height: 27px;
}
.menu-nav-border p {
	margin-left: 177px;
}
#usuarios-trocando {
	margin-left: 28px;
}
#dar-opinion {
	margin-left: 34px;
}
#complete-border {
	border-bottom: 1px #f38630 solid;
	height: 27px;
	float: right;
	width: 43px;
}
#menu-nav {
	float: left;
}
#menu-nav li {
	list-style-type: none;
	padding: 3px 10px 3px 10px;
	margin: 0px;
	border: 1px #f38630 solid;
	border-right: 0px;
	background: #f1f1f1;
	cursor: pointer;
	float: left;
}
#menu-nav li:first-child {
	-moz-border-radius: 5px 0px 0px 0px;
	border-radius: 5px 0px 0px 0px;
}
#menu-nav .last-child {
	/** dado que el soporte para :last-child es muy variable entre navegadores **/
	border-right: 1px #f38630 solid;
	-moz-border-radius: 0px 5px 0px 0px;
	border-radius: 0px 5px 0px 0px;
}
#menu-nav .selected {
	border-bottom: 1px #fff solid;
	background: #fff;
}
#submenu-nav {
	border-bottom: 1px #f38630 solid;
	background: url('../images/menu-bg-inv.png') repeat-x #f3f3f3;
}
#submenu-nav li {
	list-style-type: none;
	margin: 8px 16px 8px 18px;
	float: left;
}
#submenu-nav form {
	margin: 8px 16px 8px 0px;
	float: right;
}
#submenu-nav form input, select {
	border: 1px #ababab solid;
}
#submenu-nav form input:focus {
	border: 1px solid #fafafa;
	-webkit-box-shadow: 0 0 6px #f38630;
	-moz-box-shadow: 0 0 5px #f38630;
	box-shadow: 0 0 5px #f38630;
}
#submenu-menu2-data, #submenu-menu3-data {
	display: none;
}
.sidebar-title {
	width: 100%;
	height: 36px;
	border: 1px #C6C6C6 solid;
	background: url('../images/menu-bg.png') repeat-x #f3f3f3;
}
.sidebar-title h3 {
	color: #f38630;
	font-weight: bold;
	margin: 7px 0px 0px 15px;
}
.sidebar-content {
	width: 100%;
	border: 1px #C6C6C6 solid;
	border-top: 0px;
}
.popular-element {
	width: 100%;
	height: 50px;
}
#element-first {
	height: 60px;
}
#element-last {
	margin-bottom: 10px;
}
.popular-element-image {
	float: left;
}
.popular-element-image img {
	margin: 6px 10px 0px 12px;
}
#img-first {
	margin-top: 16px;
}
.popular-element-content h4 {
	padding: 0px 0px 0px 0px;
}
#content-first {
	padding-top: 10px;
}
.popular-element-content p {
	line-height: 15px;
	font-size: 11px;
}
.lines {
	width: 100%;
	font-size: 14px;
	text-align: center;
	color: #cacaca;
}
.content-title {
	background: url('../images/menu-bg.png') repeat-x #f3f3f3;
	color: #F38630;
	font-weight: bold;
	padding: 4px 0 4px 10px;
}
.content-data {
	border: 1px #C6C6C6 solid;
	border-top: 0px;
}
.content-data-first-row {
	height: 141px;
}
#como-funciona-p {
	text-align: center;
	padding-bottom: 8px;
}
.sin-productos {
	text-align: center;
	padding: 15px 10px 15px 10px;
}
.sin-productos img {
	margin: 5px;
}
.sin-productos a {
	font-size: 11px;
}
#usas-facebook {
	height: 201px;
	color: #535353;
}
#usas-facebook ul {
	list-style-image: url('../images/icon_arrow_orange.gif');
	width: 80%;
	padding: 0px 0px 8px 30px;
	color: #535353;
}
#usas-facebook p {
	color: #535353;
	font-size: 12px;
	margin-bottom: -5px;
}
#usas-facebook span {
	color: #F38630;
	font-weight: bold;
	font-size: 13px;
}
#usas-facebook img {
	float: left;
	padding: 0px 8px 8px 8px;
}
#prueba-como-funciona {
	width: 100%;
	padding: 15px 10px 0px 0px;
	border-bottom: 1px solid #f38630;
}
#prueba-como-funciona p {
	padding-bottom: 5px;
}
#arrow-left {
	float: left;
	width: 13%;
	height: 150px;
	text-align: center;
}
#arrow-left input {
	margin-top: 50px;
	float: right;
}
#arrow-right {
	float: left;
	width: 13%;
	height: 150px;
}
#arrow-right input {
	margin-top: 50px;
	float: left;
}
#carousel1 {
	width: 74%;
	height: 150px;
	overflow: scroll;
	float: left;
}
#comunidad {
	font-weight: bold;
}
#noticias {
	width: 100%;
	border-bottom: 1px solid #f38630;
	color: #F38630;
	font-weight: bold;
	margin-bottom: 10px;
}
#noticias p {
	font-size: 14px;
	padding: 6px 0px 6px 10px;
}
#twitter-follow-us{
	width:70%;float:left;padding-top:15px;padding-bottom:20px;color:#f38630;font-weight:bold;
}
#img-twitter-follow-us{
	width:22%;float:left;padding:8px;padding-bottom:10px;text-align:center;
}

.tweet-box{
	font-size:12px;padding:0px 10px 0px 10px;
}
.noticia{
	width:100%;
}
.noticia h4{
	width:100%;padding:0px 0px 6px 10px;
}
.noticia .texto-noticia{
	width:82%;float:left;
}
.noticia .imagen-noticia{
	width:15%;float:left;padding-left:6px;
}


#footer {
	margin: 10px 0px 20px 0px;
}
#footer ul {
	text-align: center;
	margin: 0px 0px 5px 0px;
}
#footer li {
	display: inline;
	padding: 0px 3px 0px 3px;
}
/** ESPECIALES **/
.corner-all {
	border-radius: 8px 8px 8px 8px;
}
.highlight-info {
	background: url('../images/menu-bg.png') repeat-x #f3f3f3;
	border: 1px solid #f38630;
	color: #1F1F1F;
}
.other-info {
	background: url('../images/bg-big.png') repeat-x #f3f3f3;
	border: 1px solid #f38630;
	color: #1F1F1F;
}
.highlight-info p, .other-info p {
	margin: 7px 0px 7px 0px;
}
.ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
	height: 16px;
	width: 16px;
	float: left;
	margin-right: 5px;
	margin-top: 2px;
	background-image: url("../images/ui-icons_256x240.png");
}
.ui-icon-info {
	background-position: -16px -144px;
}
#highlight-phrase {
	margin-left: 5px;
}
.border-silver-diner {
	/** silver diner color by gosling http://www.colourlovers.com/color/C6C6C6/silver_diner **/
	border: 1px #C6C6C6 solid;
}
.arrow-list {
	list-style: none;
	width: 80%;
	padding: 8px 0px 8px 10px;
}
.arrow-list li {
	background: url('../images/icon_arrow_orange.gif') left center no-repeat;
	padding-left: 15px;
}
.separator {
	width: 100%;
	margin: 0px;
	height: 10px;
}